<template>
    <div class="wrapper">
        <p class="sub-title">Todo's</p>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" src="./HeaderComponent.scss">
</style>