@import 'variables';

.wrapper {
    margin: 0 5vw;
}

h1, h2, h3, h4, p, a {
    @include Ropa-font;
    color: $white;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $white; 
    border-radius: 10px;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: $black;
// }