.component-wrapper {
    width: 100vw;
    background-color: $black;
    overflow: hidden;


    .component-container{
        
        margin: 0 auto;
        max-width: 1440px;
        position: relative; 
        height: 100vh;  

    }
}
    
    