<template>
	<div class="component-wrapper">
		<div class="component-container">
			<slot></slot>
		</div>
		<!-- <BigTitleComponent/>
		<TodoInputComponent/> -->
	</div>
</template>

<script>
import BigTitleComponent from './templateComp/BigTitleComponent/BigTitleComponent'
import TodoInputComponent from './templateComp/TodoInputComponent/TodoInputComponent'

export default {
	name: "Wrapper",
	components: {
		BigTitleComponent,
		TodoInputComponent
	}
};
</script>

<style src="./Wrapper.scss" lang="scss" scoped>

</style>
