<template>
    <transition
            mode="out-in"
            :css="false"
            @enter="animate"
            @leave="leave"
        >
        <div v-if="!lineAnimated" class="wrapper">
            
                <div  class="container as">
                    <div class="line"></div>
                    <p  @click="reverse" class="btn">Add New Todo</p>
                    <!-- <p  @click="reverse" class="b">Add New Todo</p> -->
                </div>
            
        </div>
    </transition>
</template>

<script>
    import { TimelineMax, Expo} from "gsap"
    import { TweenMax, TimelineLite, Power2, Elastic, CSSPlugin } from "gsap";

    export default {
        name: 'LineButtonComponent',
        data() {
            return {
                animation: null,
                test: true
            }
        },
        computed: {
            show() {
                return true
            },

            lineAnimated() {
               return this.$store.getters["animation/getAnimation"]
            },
            // animation() {
            //     return this.$store.getters.getAnimation
            // }
        },

        // watch: {
        //     lineAnimated: {
        //         halo(){
        //             consol.l
        //         }
        //     }
        // },

        methods: {
            animate(el, done) {
                let CSSRulePlugin = require('gsap/CSSRulePlugin').CSSRulePlugin
                let line = el? el.querySelector(".line") : this.$el.querySelector(".line")
                let btn = el? el.querySelector(".btn") : this.$el.querySelector(".btn")
                btn.style.opacity = 0
                
                this.animation =  new TimelineMax({delay: .4})
                // this.$store.commit('animation/addAnimation' , { animation: this.animation , params: "lineButton" })
                this.animation.fromTo( line , .8, { width: 0 }, { width: "16vw", ease: Expo.easeOut })
                .to(btn, .2,  { opacity: 1, x: 17, ease: Expo.easeIn, onComplete: done }, "-=.8")
                
            },

            reverse() {
                this.$store.commit('animation/addAnimation' , { animation: true , params: "inputAnimation" })
            },

            leave(el, done) {
                // this.animation.reverse()
                let line = el? el.querySelector(".line") : this.$el.querySelector(".line")
                let btn = el? el.querySelector(".btn") : this.$el.querySelector(".btn")
                // this.animation.fromTo(btn, .2, { webkitClipPath: 'inset(0 0 0 0)'} , { webkitClipPath: 'inset(100% 0 0 0)', ease: Expo.easeIn, })
                this.animation.to(btn, .8, { opacity: 0, x: 0, ease: Expo.easeIn }, )
                .fromTo( line , .8,  { width: "16vw",  }, { width: 0 , ease: Expo.easeIn, onComplete: done  }, "-=.6")
                // .to(btn, .2,  { x: -20, ease: Expo.easeOut, }, "-=.8")
                
                console.log(this.lineAnimated,"line")
                this.test = false
                // this.$store.animation.lineButton.reverse()
                // console.log(this.animation, this.$store.state.animation.lineButton)
            }
        },
        mounted() {
            // console.log(this.$el.querySelector(".line"))
            this.animate()
        },
    }
</script>

<style lang="scss" src="./LineButtonComponent.scss" scoped>

</style>