.wrapper {
    position: absolute;
    bottom: 4vw;
    padding: 0 !important;
    height: 60px;
    display: flex;
    align-content: center;
    z-index: 9;

    .container {
        display: flex;
        align-items: center;
        
        .line {
            width: 15vw;
            height: 1px;
            background-color: $white;
            border-radius: 50px;
            margin-right: 50px;
        }

        .btn {
            position: relative;
            top: 0px;
            left: 0;
            // text-decoration: underline;
            cursor: pointer;
            transition: all .8s cubic-bezier(.22,.9,.56,.88);

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $white;
                transform: scaleX(1);
                transition: transform .5s cubic-bezier(.22,.9,.56,.88);
                transform-origin: left;
            }

            //reveal animation
            // &::before {
            //     content: '';
            //     width: 100%;
            //     height: 100%;
            //     background-color: $black;
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     z-index: 99;
            //     transition:all .8s cubic-bezier(.22,.9,.56,.88);
            //     // transform-origin: bottom bottom;
            // }

            &:hover {
                top: 0;

                &::before {
                    transform-origin: right;
                    transform: scaleX(0);
                }

                //reveal animation
                // &::before {
                //     top: 5px;
                //     transform: scaleY(0);
                //     // transform-origin: bottom bottom;
                // }
            }
        }
        
    }


   
}