<template>
    <div class="wrapper">
        <div class="container">
            <ul class="filter-list">
                <li @click="handleFilter( 'all', $event )" class="filter">All</li>
                <li @click="handleFilter( 'fav', $event )" class="filter">Favorite</li>
                <li @click="handleFilter( 'imp', $event )" class="filter">Important</li>
                <li @click="handleFilter( 'done', $event )" class="filter">Done</li>
            </ul>
            <ul @mousemove.self="handleScrollAnimation" class="todo-list">
                <component 
                    :is="'TodoComponent'"
                    v-for="todo in todos" 
                    :key="todo.id"
                    :todo="todo.desc"
                    class="todo"
                    @openEditor="showEditor"
                    v-text-editor
                    >
                </component>
                
               
                <!-- <li class="todo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </li> -->
            </ul>
            <!-- <EditorComponent :show="show"/> -->
            <!-- <div v-text-editor class="button-container">
                <p class="btn prev"> < </p>
                <p class="btn next"> > </p>
            </div> -->
        </div>
    </div>
</template>

<script>
import TodoComponent from '../TodoComponent/TodoComponent'
import EditorComponent from'../EditorComponent/EditorComponent'
import TextEditor from '../../../directives/TextEditor'
import { ListAnimationMixin } from '../../../mixins/ListAnimationMixin'
import { TweenMax, Expo } from 'gsap' 
import { mapGetters } from 'vuex'

    export default {
        name: "TodoListComponent",
        directives: {
            TextEditor
        },
        components: {
            TodoComponent,
            EditorComponent
        },
        mixins: [
            ListAnimationMixin
        ],
        data() {
            return{
                // show: false,
                offsetY: 0,
                filter: false,
                todos: this.$store.state.todos.todos
                
            }
        },

        computed: {
            // todos() {
            //     if(filter){
            //         return this.todoFavorited

            //     }
            //     else{

            //         return this.stateTodos
            //     }
            // },

            stateTodos() {
                console.log(this.$store.state.todos.todos)
                return this.$store.state.todos.todos
            },

            ...mapGetters({
                todoFavorited: 'todos/favorited',
                todoDone: 'todos/done',
                todoImportant: 'todos/important'
            })
        },
        watch: {
            todos() {
                // this.$nextTick( ()=> this.addNewAnimate() )
                
            }
        },

        methods: {
            handleScrollAnimation( e ) {
                this.offsetY = e.offsetY
                // let offsetHeight = e.offsetHeight
                // this.initListScrollAnimation( this.offsetY )
                // console.log(e.offsetY, el.offsetHeight )
            },

            handleFilter( by, event ) {
                this.$el.querySelectorAll(".filter").forEach( item => {
                    item.classList.remove("filter__active")
                })

                event.target.classList.add("filter__active")
                if(by == 'fav') {
                    this.todos = this.todoFavorited
                }

                if(by == 'imp') {
                    this.todos = this.todoImportant
                }

                if(by == 'done') {
                    this.todos = this.todoDone
                }

                if(by == 'all') {
                    this.todos = this.stateTodos
                }

                
            },

            filterEnter() {
                let element = this.$el.querySelectorAll(".filter")
                element.forEach( item => {
                    
                    TweenMax.set( item , { y: '100%'} )
                    
                    TweenMax.to( item , 1, { y:'0%', ease: Expo.easeOut, delay: 1 }  )
                    

                })
            },

            showEditor() {
                this.show = !this.show 
            },
            
            addNewAnimate() {
                let newTodo = this.$el.querySelector(".todo")
                let allTodo = this.$el.querySelectorAll(".todo")
                let todoParent = newTodo.parentNode
                newTodo.classList.add('new-todo') 
                todoParent.removeChild(newTodo)
                todoParent.prepend(newTodo)
                // this.animateList()
            },

            animateList() {
                let allTodo = this.$el.querySelectorAll(".todo")
                let newTodo = this.$el.querySelector(".todo")
                let todoParent = newTodo.parentNode
                allTodo.forEach( todo => {
                    if(!todo.classList.contains("new-todo")) {
                        todo.classList.add("old-todo")
                        todoParent.removeChild(todo)
                        todoParent.prepend(todo)
                    } else {
                        // todo.classList.remove("new-todo")
                        // todo.classList.add("old-todo")
                    }
                } )
            }
        },

        beforeMount() {
            // this.$nextTick( () => console.log(this, "ell") )
            
        },

        mounted() {
            // this.addNewAnimate()
            this.filterEnter()
            this.initListAnimation(this.$el.querySelector(".todo-list"))
            // this.animateList()
        }
    }
</script>

<style lang="scss" src="./TodoListComponent.scss" scoped>

</style>