.wrapper {
    position: absolute;
    right: 5vw;
    width: 26%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 9;


    .container {       
        position: relative;
        width: 100%;

        ul {
            padding: 0;
            list-style: none;
            color: $white;
            @include Ropa-font;
            letter-spacing: 1px;
        }
    
        .filter-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            overflow: hidden;
    
            .filter {
                font-size: 1.3rem;
                position: relative;
                cursor: pointer;

                &__active {
                    color: purple;
                }

                &::before {
                    content: '';
                    transition: transform .5s cubic-bezier(.22,.9,.56,.88);
                    background-color: $white;
                    height: 2px;
                    transform: scaleX(0);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    transform-origin: right;
                }

                &:hover {

                    &::before {
                        width: 100%;
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }


            }
        }
    
        .todo-list {
            width: 100%;
            // overflow: hidden;
            // overflow-y: scroll;
            margin: 0;
            position: absolute;
            min-width: 200px;
            cursor: pointer;

            .todo {
                margin-bottom: 32px;
                line-height: 120%;
                transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
            
            }

            .new-todo {
                // opacity:  0;
                @keyframes new {
                    0%{ opacity: 0;}
                    100%{ opacity: 1;}
                }
                animation-name: new;
                animation-duration: 4s;
                transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

            .old-todo {

                @keyframes  old{
                    0%{ transform: translateY(0);}
                    100%{ transform: translateY(100px);}
                }
                animation-fill-mode: forwards;
                animation-name: old;
                animation-duration: 4s;
                transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);

            }
        }

        .button-container {
            display: flex;
            // width: 92%;
            justify-content: flex-end;
            margin-right: -18px;

            .btn {
                font-size: 2.8rem;
                cursor: pointer;
                transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                
            }

            .prev {
                &:hover {
                    transform: translateX(-10px);
                }
            }

            .next {

                &:hover {
                    transform: translateX(10px);
                }
            }
        }
    
        
    }

}