<template>
    <transition
            mode="out-in" 
            :css="false"
            @enter="animate"
            @leave="leave"
            :data-ease="a"
            >
        <div v-if="lineAnimated" class="wrapper">
    
            <div class="container">
                <input v-on:keyup.enter="handleAddTodo" placeholder="your text here" class="todo-input" type="text" v-model="text">
            </div>
            <div  class="button-container">
                <p @click="reverseAnimation"  class="btn">close</p>
                <p  @click='handleAddTodo' class="btn">add</p>
            </div>
            
        </div>
    </transition>
</template>

<script>
    import { mapActions } from 'vuex';
    import { TimelineMax, Expo} from "gsap";
    import { ListAnimationMixin } from "../../../mixins/ListAnimationMixin";

    export default {
        name: 'TodoInputComponent',
        mixins: [
            ListAnimationMixin
        ],
        data() {
            return{
                text: '',
                animation: null,
                test: true
            }
        },

        computed: {
           todos() {
               return this.$store.state.todos
           },

           lineAnimated() {
               return this.$store.getters["animation/getAnimation"]
           }
        },

        methods: {
            animate(el, done) {
                console.log(el)
                let input = el.querySelector(".container")
                let btn = el.querySelector(".button-container")
                this.animation = new TimelineMax({ delay: 1 })
                this.animation.from(input, .4, { opacity: 0, y: 20 , ease: Expo.easeOut})
                    .from( btn, .4, { opacity: 0, y:20, ease: Expo.easeOut, onComplete: done}, "-=.35")
            },

            handleAddTodo() {
                this.addTodo( this.text )
                // this.todos/asyncAddTodo("hm")
            },

            reverseAnimation() {
                this.$store.commit('animation/addAnimation' , { animation: false , params: "inputAnimation" })
            },

            leave(el, done) {
                // this.animation.reverse()
                let input = el.querySelector(".container")
                let btn = el.querySelector(".button-container")
                this.animation ? this.animation = new TimelineMax() : false
                this.animation.to( btn, .5, { opacity: 0, y: 20 , ease: Expo.easeIn })
                    .to( input, .5, { opacity: 0, y: 20, ease: Expo.easeIn, onComplete: done}, "-=.45")
            },

             ...mapActions('todos',[
                'asyncAddTodo'
            ]),

        },

        mounted() {
            
        }
    }
</script>

<style lang="scss" src="./TodoInputComponent.scss" scoped>

</style>