.wrapper {
    position: absolute;
    bottom: 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0 !important;
    z-index: 9;


    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
       
        .todo-input {
            @include Ropa-font;
            color: $white;
            letter-spacing: 2px;
            width: 100px;

            &::-webkit-input-placeholder {
                text-align: center;
            }
            &:-moz-placeholder { /* Firefox 18- */
                text-align: center;  
            }
             
            &::-moz-placeholder {  /* Firefox 19+ */
                text-align: center;  
            }
             
            &:-ms-input-placeholder {  
                text-align: center; 
            }
        }
    
        
    }

    .button-container {
        display: flex;
        // flex-direction: column;
        justify-content: space-evenly;
        width: 140px;
        align-items: center;
        

        .btn {
            cursor: pointer;
        }
    }
   
}