<template>
    <transition
        mode="in-out" 
        :css="false"
        @enter="enter"
        @leave="leaveEl"
        >
        <!-- <p v-if="show">halo</p> -->
        <ul class="editor-wrapper" v-if="show">
            <li class="editor">Favorite</li>
            <li class="editor">Important</li>
            <li class="editor">Done</li>
            <li class="editor">Delete</li>
            <li class="editor">Close</li>
        </ul>
        
    </transition>
</template>

<script>
    import TweenMax from "gsap"

    export default {
        name: "EditorComponent",
        data(){
            return {
                visible: this.show
            }
        },
        props: {
            show: {
                type:Boolean,
                default: false
            }
        },
        methods: {
            beforeLeave(el) {
                

            },

            leaveEl(el, done) {
                console.log(el, "this is transition leave")
                TweenMax.to( el, 2, {
                    x: -50,
                    opacity:0,
                    onComplete: done
                });
            },

            beforeEnter(el) {

            },

            enter(el, done) {
                console.log( el, "this is transition")
                TweenMax.to( el, 2, {
                    x: 50,
                    onComplete: done
                });
            },

        }
        
    }
</script>

<style lang="scss" src="./EditorComponent.scss" scoped>

</style>