.editor-wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 0;

    .editor {
        position: relative;
        margin-right: 16px;
        cursor: pointer;
        overflow: hidden;
        display: inline-block;

        &::before{
            content: '';
            transition: transform .4s cubic-bezier(0.19, 1, 0.22, 1);
            position: absolute;
            transform: scaleX(0);
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $white;
            transform-origin: right;
            // will-change: transform;
        }


        &:hover {
            &::before {
                transform: scaleX(1);
                transform-origin: left;
            } 
        }
    }
} 