<template>
    <div class="wrapper">
        <p class="title">
            Only. IMO.
        </p>

    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" src="./FooterComponent.scss" scoped>

</style>