<template>
  <div>
    <HeaderComponent/>
    <Nuxt />
    <FooterComponent/>
  </div>
</template>

<script>
//for animating fixed component ex: header

import FooterComponent from "../components/global/FooterComponent/FooterComponent.vue"
import HeaderComponent from '../components/global/HeaderComponent/HeaderComponent.vue'

export default {
  components: {
    HeaderComponent,
    FooterComponent,
  },
}
</script>


<style lang="scss">
</style>
