<template>
  <Wrapper>
    <BigTitleComponent/>
		<TodoInputComponent/>
    <LineButtonComponent/>
    <todo-list-component/>
  </Wrapper>
</template>

<script>
import Wrapper from '../components/Wrapper.vue'
import BigTitleComponent from '../components/templateComp/BigTitleComponent/BigTitleComponent'
import TodoInputComponent from '../components/templateComp/TodoInputComponent/TodoInputComponent'
import LineButtonComponent from '../components/templateComp/LineButtonComponent/LineButtonComponent'
import TodoListComponent from '../components/templateComp/TodoListComponent/TodoListComponent.vue'

export default {
  components: {
    Wrapper,
    BigTitleComponent,
    TodoInputComponent,
    LineButtonComponent,
    TodoListComponent
  }
}
</script>

<style>

</style>
