<template>
    <li @click="showEditor">
        {{ todo }}
    </li>
</template>

<script>
    export default {
        name: "TodoComponent",
        props: {
            todo: {
                type: String
            }
        },
        methods: {
            showEditor() {
                this.$emit('openEditor')
            }
        },
        mounted() {
            console.log(this.todo)
        }
    }
</script>

<style lang="scss" src="./TodoComponent.scss" scoped>

</style>