.wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;

    .title {
        font-size: 9rem;
        letter-spacing: 2px;
        // line-height: 120%;
    }
}