<template>
    <div class="wrapper">
        <h1 class="title">
            The <br> Concept.
        </h1>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" src="./BigTitleComponent.scss" scoped>

</style>